.blurry {
	-webkit-filter: blur(1px);
	filter: blur(1px);
}

.shadow-1 {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px
		rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px
		rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2 {
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px
		rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px
		rgba(0, 0, 0, 0.23);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
}

.shadow-4 {
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.shadow-5 {
	-webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px
		rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px
		rgba(0, 0, 0, 0.22);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px
		rgba(0, 0, 0, 0.22);
}

.fab {
	border-radius: 50%;
	margin: 0;
	padding: 20px;
}

.ripple { 
	position: relative;
	overflow: hidden;
}

.ripple-effect {
	position: absolute;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	background: white;
	animation: ripple-animation 2s;
}

@keyframes ripple-animation {
	from {
		transform:scale(1);
		opacity: 0.4;
	} to {
		transform: scale(1000);
		opacity: 0;
	}
}

.ripple-effect-fixed {
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: white;
	animation: ripple-animation-fixed 250ms;
}

@keyframes ripple-animation-fixed {
	from {
		transform:scale(0.1);
		opacity: 0.4;
	} to {
		transform: scale(1);
		opacity: 0;
	}
}

.main { //for blur transition transition:all250ms;
	
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-control:focus,
.btn.dropdown-eist:active, .btn.dropdown-eist:active:focus, .btn.active.dropdown-eist:focus,
.btn.btn-eist-flat:active, .btn.btn-eist-flat:active:focus, .btn.active.btn-eist-flat:focus {
	outline: none;
	border: none;
}

:focus, a:focus  {
	outline: none;
}

body {
	padding-top: 50px;
}

.navbar {
	background-color: #3F51B5;
	border: none;
	
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
}

a.navbar-brand {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

.modal-dialog {
	margin-top: 100px;
}

.modal-content {
	border: none;
	border-radius: 0px;

	font-family: "Roboto", sans-serif;
	color: #fff;
	-webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px
		rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px
		rgba(0, 0, 0, 0.22);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px
		rgba(0, 0, 0, 0.22);
}

.modal-header {
	border: none;
	background-color: #3F51B5;
	
	-webkit-box-shadow : 0 10px 20px rgba( 0, 0, 0, 0.19), 0
		6px 6px rgba( 0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
}

button.close {
	float: left;
	margin-right: 1ex; text-shadow : none;
	opacity: 1;
	font-family: "Roboto", sans-serif;
	color: #fff;
	text-shadow: none;
}

button.close:hover {
	color: #fff;
	opacity: 1;
}

input[type=text].form-eist.form-eist {
	background: none;
	color: rgba(0,0,0,0.87);
	
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.26);
	border-radius: 0;
	
	-webkit-box-shadow : none;
	-moz-box-shadow: none;
	box-shadow:none;
	
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	
	padding-left: 0;
	padding-right: 0;
}

input[type=text].form-eist:focus {
	background: none;
	
	border: none;
	border-bottom: 2px solid #FF80AB;
	border-radius: 0;
	
	padding-bottom: 5px;
	
	-webkit-box-shadow : none;
	-moz-box-shadow: none;
	box-shadow:none;
}

input[type=text].form-eist.ng-dirty.ng-invalid {
	background: none;
	
	border: none;
	border-bottom: 2px solid #D50000;
	border-radius: 0;
	
	padding-bottom: 5px;
	
	-webkit-box-shadow : none;
	-moz-box-shadow: none;
	box-shadow:none;
}

input[type=text].form-eist.ng-dirty.ng-invalid-required:after {
  display: block;
  content: "Required";
}

.form-eist::-webkit-input-placeholder {
  color:    rgba(0,0,0,0.26);
	font-family: "Roboto", sans-serif;
}
.form-eist:-moz-placeholder {
  color:    #000;
  opacity:  0.26;
  font-family: "Roboto", sans-serif;
}
.form-eist::-moz-placeholder {
  color:    #000;
  opacity:  0.26;
  font-family: "Roboto", sans-serif;
}
.form-eist:-ms-input-placeholder {
  color:    rgba(0,0,0,0.26);
  font-family: "Roboto", sans-serif;
}

.form-icon-eist {
	color: rgba(0,0,0,0.54);
	transition: color ease-in-out .15s;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.focus .form-icon-eist {
	color: #FF80AB;
}

.control-label.label-eist {
	color: rgba(0,0,0,0.54);
  font-weight: 400;
  
	transition: color ease-in-out .15s;
  text-align: left;
  padding-left: 1.5em;
}

.form-horizontal .control-label.label-eist {
  padding-top: 4px;
}

.focus.label-eist {
	color: #FF80AB;
}

hr {
  margin-top: 25px;
  border-color: rgba(0,0,0,0.12);
}

.modal-body hr {
  margin-left: -15px;
  margin-right: -15px;
}

.btn.dropdown-eist {
	background: none;
	color: rgba(0,0,0,0.87);
	
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.26);
	border-radius: 0;
	
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	
	padding-left: 0;
	padding-right: 0;
}

.btn.dropdown-eist:focus, .btn.dropdown-eist:active:focus, .btn.active.dropdown-eist:focus {
    border-bottom: 2px solid #FF80AB;
}

.btn.dropdown-eist:hover {
	background: none;
  
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.26);
}

.btn.dropdown-eist:focus, .btn.dropdown-eist:active{
	background: none;
  outline: none;
	
	border: none;
	border-bottom: 2px solid #FF80AB;
	border-radius: 0;
	
  padding-bottom: 5px;
  
	-webkit-box-shadow : none;
	-moz-box-shadow: none;
	box-shadow:none;
}

.open>.dropdown-toggle.btn-default.dropdown-eist, .open>.dropdown-toggle.btn-default.dropdown-eist:hover {
	background: none;
	border-bottom: 2px solid #FF80AB;
  padding-bottom: 5px;
}

.btn.dropdown-eist > .caret {
  color: rgba(0,0,0,0.54);
  margin-left: 1em;
}

.dropdown-menu.dropdown-eist {
  border-radius: 0;
  
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px
		rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px
		rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  
  left: -20px;
}

.dropdown-menu.dropdown-eist>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-menu.dropdown-eist>li>a:focus, .dropdown-menu.dropdown-eist>li>a:hover {
}

input[type=checkbox] {
  display:none;
  padding-top: 0;
}

input[type=checkbox] + label {
  color: rgba(0,0,0,0.54);
  font-size: 22px;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-horizontal label.checkbox-inline {
  padding-top: 0;
}

input[type=checkbox]:focus + label {
  color: #FF80AB;
}

input[type=checkbox] + label:before {
  font-family: 'Material Icons';
  display: inline-block;
  
  content: "\e835";
  letter-spacing: 10px;
}

input[type=checkbox]:checked + label:before {
  content: "\e834";
}

.modal-body {
  padding-bottom: 0;
}

.modal-footer {
  border-top: 1px solid rgba(0,0,0,0.12);
  padding: 10px;
}

.btn-eist-flat {
  background: none;
  
  border: none;
  border-radius: 0;
  
  color: #FF80AB;
  font-weight: 700;
}

.btn-eist-flat:hover, .btn-eist-flat:focus {
  color: #FF80AB;
  background-color: rgba(0,0,0,0.12);
}

.btn.btn-eist-flat:active, .btn.btn-eist-flat:active:focus, .btn.active.btn-eist-flat:focus {
  border: none;

	-webkit-box-shadow : none;
	-moz-box-shadow: none;
	box-shadow:none;
}

.btn.btn-eist-flat[disabled], .btn.btn-eist-flat[disabled]:hover {
  color: rgba(0,0,0,0.24);
  background: none;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
  margin-left: 1ex;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}