<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>EIST Travel App</title>

<link href="//fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto:500,700,400'
	rel='stylesheet' type='text/css'>

<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

<link rel="stylesheet" href="./res/css/eist.css">

<script>
  function serverFindRoute($http, $timeout, append, callback, errorCallback) {
    $http.get("findRoute" + append).success(callback).error(errorCallback);
  }
</script>
</head>
<body>
	<div class="main">
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand ripple" href="#" data-toggle="modal"
					data-target="#findRouteModal">EIST Travel App</a>
			</div>
		</nav>
		<div id="map" style="width: 100%"></div>
	</div>

	<div class="modal fade" id="findRouteModal" data-backdrop="false"
		role="dialog" aria-labelledby="frModalLabel" ng-app="findRoute" ng-controller="routeController">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close ripple-fixed" data-dismiss="modal"
						aria-label="Close">
						<i class="material-icons" aria-hidden="true">&#xE5C4;</i>
					</button>
					<h4 class="modal-title" id="frModalLabel">New Journey</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" name="formRoute">
						<div class="form-group">
							<label for="origin" class="col-xs-1 control-label"><i class="material-icons form-icon-eist" aria-hidden="true">&#xE88A;</i></label>
							<div class="col-xs-11">
								<input type="text" class="form-control form-eist" placeholder="Origin" id="origin" ng-model="origin" required></input>
                <span class="input-text-error">Required</span>
							</div>
						</div>
						<div class="form-group">
							<label for="destination" class="col-xs-1 control-label"><i class="material-icons form-icon-eist" aria-hidden="true">&#xE153;</i></label>
							<div class="col-xs-11">
								<input type="text" class="form-control form-eist" placeholder="Destination" id="destination" ng-model="destination" required></input>
                <span class="input-text-error">Required</span>
							</div>
						</div>
            <hr/>
						<div class="form-group">
							<label for="balance" class="col-xs-1 control-label"><i class="material-icons form-icon-eist" aria-hidden="true">&#xE8B8;</i></label>
              <div combobox ng-model="balance" class="dropdown dropdown-eist col-xs-2">
                <button class="btn btn-default dropdown-toggle dropdown-eist" type="button" id="balance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Balanced
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-eist" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Cheapest</a></li>
                  <li><a class="active" href="#">Balanced</a></li>
                  <li><a href="#">Fastest</a></li>
                </ul>
              </div>
              <div class="col-xs-9">
                <input type="checkbox" id="car" ng-model="car"></input>
                <label for="car" class="checkbox-inline"><i class="material-icons form-icon-eist" aria-hidden="true">&#xE531;</i></label>
                <input type="checkbox" id="taxi" ng-model="taxi"></input>
                <label for="taxi" class="checkbox-inline"><i class="material-icons form-icon-eist" aria-hidden="true">&#xE559;</i></label>
                <input type="checkbox" id="train" ng-model="train"></input>
                <label for="train" class="checkbox-inline"><i class="material-icons form-icon-eist" aria-hidden="true">&#xE534;</i></label>
                <input type="checkbox" id="plane" ng-model="plane"></input>
                <label for="plane" class="checkbox-inline"><i class="material-icons form-icon-eist" aria-hidden="true">&#xE539;</i></label>
              </div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
          <button type="button" class="btn btn-eist-flat ripple" ng-click="cancel()" data-dismiss="modal">CANCEL</button>
          <button type="button" class="btn btn-eist-flat ripple" ng-click="request(formRoute)" ng-disabled="loading">
            FIND ROUTE
            <svg class="spinner" ng-hide="!loading" width="14px" height="14px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
          </button>
        </div>
			</div>
		</div>
	</div>

	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

	<script src="./res/js/eist.js"></script>
	<script src="./res/js/findRoute.js"></script>
</body>
</html>
